extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	//link(href='../css/navbar-static-top.css', rel='stylesheet')
	link(href='stylesheets/demo.css', rel='stylesheet', type='text/css')
	script(src='https://code.jquery.com/jquery-3.4.0.min.js')
	script(src='/javascripts/speedreader.js')
block body
	// Static navbar
	+navbar-static("NewsFlash","navbar")
		+nav_item("/") Home
		+nav_item("/saved") Saved
		+nav_item("demo", "active") Demo
		//+nav_item("#") Profile
		//+nav_item_dropdown("#")(label="150 WPM")
			//+nav_item("#") Action
			//+nav_item("#") Another action
			//+nav_item("#") Something else here
			//+nav_divider
			//+nav_item("#") Separated link
			//+nav_item("#") One more separated link
	.container
		.jumbotron
			h1 Welcome!
			p
				| NewsFlash is the place to speed-read the most recent news articles. For the demo, click the button below!
				.container
					a.btn.btn-lg.btn-primary(id="article-button-demo" data-toggle="modal" href="#normalModal" class="btn btn-default" onclick="demoSave()") Try Speed-Reading
	.container
		label(class="wordpm" for="wpm") Set words per minute:
		input(id="wpm" class="wpmInput" type="number" min="0" value="120" onchange="loadTimeToRead()")
		label(class="wordpm" for="wpm")
	.container
		label(class="wordpm")
			| Set font:
		select(class="wpmInput")
			option(value="Helvetica Neue") Helvetica Neue
			option(value="Arial") Arial
			option(value="Georgia") Georgia
			option(value="Verdana") Verdana
			option(value="Courier New") Courier New
			option(value="Lucida Console") Lucida Console
	.container
		.jumbotron
			h2 Try it Yourself!
			p
				| Type text into the following text box to test the speed reader with whatever you like.
			textarea(id="demoBox" placeholder="Add Your Own Text!" rows="6")
			br
				|
			.container
				a.btn.btn-lg.btn-primary(id="article-button-demo" data-toggle="modal" href="#normalModal" class="btn btn-default" onclick="demoSave()") Try Speed-Reading


	.container
		.row
			.col-md-12

		#normalModal(class="modal fade")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeReader()") &times;
						//h4(class="modal-title") Title
						button(type="button" onclick="startReader()" class="btn btn-primary") Start

					div(class="modal-body")

					#test_area(style="text-align:center;")

					div(class="modal-footer")
						//button(type="button" onclick="startReader()" class="btn btn-primary") Start

					//#test_area(style="text-align:center;")
						#test_main

		//thanks to https://codepen.io/DawsonMediaD/pen/byDqv
		//https://codepen.io/tanyagupta/pen/XXRybL
