extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	link(href='stylesheets/demo.css', rel='stylesheet', type='text/css')
	script(src='https://code.jquery.com/jquery-3.4.0.min.js')
	script(src='/javascripts/demo.js')

block body
	// Static navbar
	+navbar-static("NewsFlash","navbar")
		+nav_item("/") Home
		+nav_item("/saved") Saved
		+nav_item("demo", "active") Getting Started
	.container
		label(class="wordpm" for="wpm") Set words per minute:
		input(id="wpm" class="wpmInput" type="number" min="0" value="120")
		label(class="wordpm" for="wpm")
	.container
		label(class="wordpm")
			| Set font:
		select(id="fontSelect" class="wpmInput" onchange="fontChange()")
			style(type="text/css").
				font-family {
					"Helvetica Neue !important";
				}
			option(value="Helvetica Neue" style="font-family: Helvetica Neue !important") Helvetica Neue
			option(value="Arial" style="font-family: Arial !important") Arial
			option(value="Georgia" style="font-family: Georgia !important") Georgia
			option(value="Verdana" style="font-family: Veranda !important") Verdana
			option(value="Courier New" style="font-family: Courier New !important") Courier New
			option(value="Lucida Console" style="font-family: Lucida Console !important") Lucida Console
			option(value="openDyslexic" style="font-family: openDyslexic !important") Open Dyslexic
			option(value="LexieReadable" style="font-family: LexieReadable !important") LexieReadable
	.container
		.jumbotron
			h1 Welcome!
			p
				| NewsFlash is the place to speed-read the most recent news articles. For the demo, check out the panel below!
	.container
		.jumbotron
			h2 Try it Yourself!
			p
			textarea(id="demoBox" placeholder="Type text into the following text box to test the speed reader with whatever you like." rows="6") Type text into the following text box to test the speed reader with whatever you like.
			p
				|
			.container
			a.btn.btn-lg.btn-primary(id="article-button-demo" data-toggle="modal" href="#normalModal" class="btn btn-default" onclick="initReader(this.id)") Try Speed-Reading


	.container
		.row
			.col-md-12

		#normalModal(class="modal fade")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeReader()") &times;
						button(type="button" onclick="startReader()" class="btn btn-primary") Start
						br

					div(class="modal-body")

						#test_area(class="words" style="text-align:center;")

					div(class="modal-footer")

						#test_main

		//thanks to https://codepen.io/DawsonMediaD/pen/byDqv
		//https://codepen.io/tanyagupta/pen/XXRybL
