extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	//link(href='../css/navbar-static-top.css', rel='stylesheet')
	script(src='https://code.jquery.com/jquery-3.4.0.min.js')
	script(src='/javascripts/speedreader.js')
block body
	// Static navbar
	+navbar-static("NewsFlash","navbar")
		+nav_item("/","active") Home
		+nav_item("demo") Demo
		//+nav_item("#") Saved
		//+nav_item("#") Profile
		//+nav_item_dropdown("#")(label="150 WPM")
			//+nav_item("#") Action
			//+nav_item("#") Another action
			//+nav_item("#") Something else here
			//+nav_divider
			//+nav_item("#") Separated link
			//+nav_item("#") One more separated link
	.container
		- for (var i = 0; i < 8; i++)
			.jumbotron(id="jumbotron-"+i)
				img(id="article-pic-"+i src="" style="max-width: 200px;")
				h1(id="article-"+i) ...
				a.btn.btn-lg.btn-primary(id="article-button-"+i data-toggle="modal" href="#normalModal" class="btn btn-default" onclick="initReader(this.id)") Read

	.container
		.row
			.col-md-12

		#normalModal(class="modal fade")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeReader()") &times;
						//h4(class="modal-title") Title
						button(type="button" onclick="startReader()" class="btn btn-primary") Start
						br
						label(for="wpm") Set words per minute:
						input(id="wpm" type="number" value="" placeholder="WPM")
						//button(type="button" onclick="setWPM()" class="btn btn-primary") Set
					div(class="modal-body")

					#test_area(style="text-align:center;")

					div(class="modal-footer")
						//button(type="button" onclick="startReader()" class="btn btn-primary") Start

					//#test_area(style="text-align:center;")
						#test_main

		//thanks to https://codepen.io/DawsonMediaD/pen/byDqv
		//https://codepen.io/tanyagupta/pen/XXRybL
