extends ../node_modules/jade-bootstrap/_bootstrap


append styles
	link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
	script(src='https://code.jquery.com/jquery-3.4.0.min.js')
	script(src='/javascripts/savedarticle.js')

block body

	// Static navbar
	+navbar-static("NewsFlash","navbar")
		+nav_item("/") Home
		+nav_item("/saved", "active") Saved
		+nav_item("demo") Getting Started
	.container(id="saved-content")
		label(class="wordpm" for="wpm") Set words per minute:
		input(id="wpm" class="wpmInput" type="number" value="120" placeholder=""
		onchange="loadTimeToRead()")
		label(class="wordpm" for="wpm") -WPM

	.container
		.row
			.col-md-12

		#normalModal(class="modal fade")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeReader()") &times;
						button(type="button" onclick="startReader()" class="btn btn-primary") Start
						br

					div(class="modal-body")

						#test_area(class="words" style="text-align:center;")

					div(class="modal-footer")

						#test_main

		//thanks to https://codepen.io/DawsonMediaD/pen/byDqv
		//https://codepen.io/tanyagupta/pen/XXRybL
