h2 {
  font-weight: bold;
}

@font-face {
  font-family: 'openDyslexic';
  src: url('/fonts/OpenDyslexic-Regular.woff');
}

@font-face {
	font-family: 'LexieReadable';
	src: url('/fonts/LexieReadable-Regular.ttf');
}	

#demoBox {
  padding: 2px;
  width: 100%;
}

.wordpm {
  font-size: 18pt;
  margin-left: 0px;
  margin-bottom: 25px;
  padding-right: 5px;
}

.wpmInput {
  border-radius: 5px;
  padding: 2px;
  border: 2px solid #808080;
}

.navbar {
  box-shadow: 0px 2px 5px grey;
}
