body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: 'openDyslexic';
  src: url('/fonts/OpenDyslexic-Regular.woff');
}

@font-face {
	font-family: 'LexieReadable';
	src: url('fonts/LexieReadable-Regular.ttf');
}
/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content */
.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 2;
}

.modal-body {
  font-family: openDyslexic;
}


.words {
  color: black;
  size: 24pt;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Contents of article divs*/
.jumbotron {
  display: flex;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size:100%;
  padding: 20px;
}

.sharebtn {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  transform: rotate(180deg);
  filter: invert(1);
}

.savebtn {
  margin-left: 10px;
  padding-left:6px;
  padding-right:6px;
  height: 45px;
  width: 45px;

}

#success {
  position: relative;
  margin: 0px;
}

.line {
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: black;
  height: 3px;
  width: inherit;
}

h1 {
  font-size:24pt !important;
  font-weight: 700;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h2 {
  font-size:18pt;
  color: black;
  -webkit-text-fill-color: white;
  /*-webkit-text-stroke-width: 1px;*/
  -webkit-text-stroke-color: black;
}

h4 {
  color: black;
  font-size: 24pt;
}

p {
  padding-top:5px;
  font-size: 12pt;
  -webkit-text-fill-color: white;
  /*-webkit-text-stroke-width: 1px;*/
  -webkit-text-stroke-color: black;
}

.articleItems {
  background-color: rgba(0,0,0,.3);
  padding:5px;
  border-radius: 5px;
  list-style: none;
  background-color: black;
  opacity: 0.85;
  padding: 20px;
}

.wordpm {
  font-size: 18pt;
  margin-left: 0px;
  margin-bottom: 25px;
  padding-right: 5px;
}

.wpmInput {
  border-radius: 5px;
  padding: 2px;
  border: 2px solid #808080;
}

.navbar {
  box-shadow: 0px 2px 5px grey;
}
